<div class="col-xs-12"><h1>P&aacutegina de los autores</h1></div>
<div class="col-xs-12 col-sm-6">
	<div class="row cajaAutor">
		<div class="cajaAutor">
		<div class="col-xs-12">
				<h1>Ramiro</h1>
				<div class="apellidos">
				<h2>Bl&aacutezquez Gonz&aacutelez</h2>
			</div>
		</div>
		<div class="col-xs-12 col-sm-offset-2 col-sm-8">
				 <img src="images/rami.jpg" class="img-responsive img-circle"> 
		</div>
		<div class="col-xs-12">
				<h3>Ávila </h3>
		</div>
		<div class="col-xs-12">
			<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<a href="https://github.com/ramirobg94">
					<img src="images/ghw.png" class="img-responsive githubLogo">	
					enlace a su github
				</a>
			</div>
			<div class="col-xs-6">

			</div>
			</div>
		</div>

	</div>
</div>
</div>

<div class="col-xs-12 col-sm-6">
	<div class="row cajaAutor">
		<div class="cajaAutor">
		<div class="col-xs-12">
				<h1>Miguel</h1>
				<div class="apellidos">
					<h2>Bausa P&eacuterez</h2>
				</div>
		</div>
		<div class="col-xs-12 col-sm-offset-2 col-sm-8">
				 <img src="images/bausa.jpg" class="img-responsive img-circle"> 
		</div>
		<div class="col-xs-12">
				<h3>Madrid </h3>
		</div>
		<div class="col-xs-12">
			<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<a href="https://github.com/SuperTux93">
					<img src="images/ghw.png" class="img-responsive githubLogo">	
					enlace a su github
				</a>
			</div>
			<div class="col-xs-6">

			</div>
			</div>
		</div>

	</div>
</div>
</div>
<div class="col-xs-12">
<div class="cajaAutor">
<h1>Video</h1>
</div>
</div>

