
    <div class="col-xs-12">
  <h1>Bienvenido a <%= title %></h1>
  <h3> el portal donde podrá crear sus propios juegos!</h3>
    </div>
    <div class="col-xs-offset-2 col-xs-8">
    	<a href="/quizes">
    		 <div class="box bg-1">
					<button class="button button--isi button--text-thick button--text-upper button--size-s"><span> Preguntas<span class="glyphicon glyphicon-share-alt"></button>
			</div>
		</a>
    </div>
