<div class="col-xs-12">
	<h1>Perfil de</h1>
<%= user.username %>
</div>
<div class="col-xs-12">
	<div class="barraEstadistica">
		<div class="row">
			<div class="col-xs-12">
				<div id="izqBar" class="sBar" style="width:75%;"><h3>75%</h3></div>
				<div id="drcBar" class="sBar" style="width:25%;"><h3>25%</h3></div>
			</div>
		</div>
	</div>
	<p>asdasadas</p>
</div>