/* Box colors */

/* Common button styles */
.button {
	min-width: 150px;
	max-width: 250px;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
	color: #333;
	border-color: #333;
}

/* Sizes */
.button--size-s , .button--size-m ,.button--size-l {
	font-size: 10px;
}


/* Typography and Roundedness */
.button--text-upper {
	letter-spacing: 2px;
	text-transform: uppercase;
}
.button--text-thin {
	font-weight: 300;
}
.button--text-medium {
	font-weight: 500;
}
.button--text-thick {
	font-weight: 600;
}
.button--round-s {
	border-radius: 5px;
}
.button--round-m {
	border-radius: 15px;
}
.button--round-l {
	border-radius: 40px;
}

/* Borders */
.button--border-thin {
	border: 1px solid;
}
.button--border-medium {
	border: 2px solid;
}
.button--border-thick {
	border: 3px solid;
}

/* Individual button styles */
/* Isi */
.button--isi {
	padding: 1.2em 2em;
	color: #fff;
	background: #FFF;
	border-width: 2px;
	border-style: solid;
	border-color: #333;
	overflow: hidden;
}
.button--isi::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: -10%;
	margin: -15px 0 0 1px;
	width: 30px;
	height: 30px;
	border-radius: 0%;
	background: #333;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform: scale3d(1, 2, 1);
	transform: scale3d(1, 2, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(.58,.21,.25,.88);
	transition-timing-function: cubic-bezier(.58,.21,.25,.88);
}

.button--isi .button__icon {
	vertical-align: middle;
}
.button--isi > span {
	vertical-align: middle;
	padding-left: 0.75em;
}
.button--isi:hover::before {
	-webkit-transform: scale3d(9, 9, 1);
	transform: scale3d(9, 9, 1);
	color: #FFF;
}
/*media query */
 @media(max-width: 400px){
.button--isi {
	padding: 1.2em 1em;
}
.button--isi::before {
	width: 20px;
	height: 30px;
}
}
 @media(max-width: 320px){
.button--isi2 {
	padding: 1.2em 1em;
}
.button--isi2::before {
	width: 10px;
	height: 30px;
}
}
