body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #7dffaa;
background-image: url(/images/beige-paper.png);
/*
 background-image: url(/images/fondo.png);
*/
}

a {
  color: #00B7FF;
}
 .starter-template {
            padding: 40px 15px;
            text-align: center;
 }
 .preguntaBox{
 	background-color: rgba(255,255,255,0.45);
 	border-style: solid;
 	border-width: 2px;
 	border-color: #333;
display:inline-block; 
margin: auto;
padding-left: 3%;
padding-top: 1%;
padding-right: 3%;
padding-bottom:1%;
text-align: center;
}
.listaPreguntas{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 4%;
}
.tablaPreguntas{
  text-align: center;
  width: 100%;

}
.glyicon{
	color: #000;
}
#h1{
	background-color: #ffffff;
}
 #s1{
 	background-color: rgba(250,250,250,0.6);
 }

 #h1 > h2{
 	margin-bottom: 0%
 }
 .cajaAutor{
 	margin: 4%;
 	background-color: #111;
 	color: #FFF;
 	border-radius: 1em 1em 1em 1em;
 }
 .gitHubLogo{
 	max-width: 20%;
 	max-height: 20%;
 }
 .botonGly{
 	margin-top: 14px;
 }
 .cuadroBusqueda{
 		margin-right: 0%;
 		padding-right: 0%;
 		vertical-align: left;
 }
 .inputBusqueda {
 		max-width: 100%;
 }
  .botonGly{
 		margin-left: 0%;
 	}
 	.cuadroBotonBusqueda{
 		margin-left: 0%;
    padding-left: 0%;
 	}
  .separador{
    margin-top: 2%;
    margin-bottom: 1%;
  }
  #f1 > h3{
    font-size: 10px;
  }

@media(max-width: 992px){
	 	.apellidos > h2 {
 		font-size: 26px;
 	}

}


 @media(max-width: 767px){
 	#h1{
 		display: none;
 	}
 	.textoGly{
 		display: none;
 	}
 	.botonGly{
 		min-width: 50px;
 		max-width: 70px;
 	}
  .iconCrear{
    font-size: 20px;
  }

   }