body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #7dffaa;
background-image: url(/images/beige-paper.png);
/*
 background-image: url(/images/fondo.png);
*/
}

a {
  color: #00B7FF;
}
 .starter-template {
            padding: 40px 15px;
            text-align: center;
 }
 .cajaIndex{
  margin: 0%;
  margin-top: 0.2;
  margin-bottom: 0.2%;
  background-color: rgba(255,255,255,0.1);
  border-color: rgba(23,23,23,0.85);
  border-width: 1px;
  border-style: solid;
 }
 .preguntaBox{
 	background-color: rgba(255,255,255,0.45);
 	border-style: solid;
 	border-width: 2px;
 	border-color: #333;
display:inline-block; 
margin: auto;
text-align: center;
margin-bottom: 0%;
}
.preguntaBoxIndex{
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 5px;
}
.listaPreguntas{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1%;
  padding: 0%;
}
.itemLista{
  padding: 0%;
}
.tablaPreguntas{
  text-align: center;
  width: 100%;

}
.glyicon{
	color: #000;
}
#h1{
	background-color: #ffffff;
}
 #s1{
 	background-color: rgba(250,250,250,0.6);
 }

 #h1 > h2{
 	margin-bottom: 0%
 }
 .cajaAutor{
 	margin: 4%;
 	background-color: #111;
 	color: #FFF;
 	border-radius: 1em 1em 1em 1em;
 }
 .gitHubLogo{
 	max-width: 20%;
 	max-height: 20%;
 }
 .botonGly{
 	margin-top: 14px;
    margin-left: 0%;
 }
 .cuadroBusqueda{
 		margin-right: 0%;
 		padding-right: 0%;
 		vertical-align: left;
 }
 .inputBusqueda {
 		max-width: 100%;
 }
 	.cuadroBotonBusqueda{
 		margin-left: 0%;
    padding-left: 0%;
 	}
  .separador{
margin: 0;
border-color: #333;
  }
  #f1 > h3{
    font-size: 10px;
  }
  #ErrorMsgs{
    color: #f61;
    font-size: 10px ;
  }
.btn2{
   background-color: rgba(255,255,255,1.0);
border-radius: 0em;
min-height: 100%;
min-width: 100%;
margin: 0%;
padding: 0%;
white-space: pre-wrap;
  }
.botonQ{
  margin-top: 0%;
}

.right{
  float: right;
}

.quiz_img{
  height: 150px;
  float: left;
}

@media(max-width: 992px){
	 	.apellidos > h2 {
 		font-size: 26px;
 	}
    .preguntaBoxIndex{
  width: 100%;
  position: relative;
  margin: 6px 0% 0% 0%;
}
  .botonGly{
    min-width: 50px;
    max-width: 150px;
  }

}


 @media(max-width: 767px){
/* 	#h1{
 		display: none;
 	}
  */
 	.textoGly{
 		display: none;
 	}
 	.botonGly{
 		min-width: 50px;
 		max-width: 70px;
 	}
  .iconCrear{
    font-size: 20px;
  }
  .preguntaBoxIndex{
  width: 100%;
  position: relative;
  margin: 3px 0% 0% 0%;
}
.btn2{
  position: relative;
border-radius: 0em;
min-height: auto;
max-width: 100%;
margin: 0%;
padding: 0%;
text-align: inherit;
white-space: pre-line;
}
 @media(max-width: 400px){
.listaPreguntas{
  width: 96%;
  margin-left: 2%;
  margin-bottom: 1%;
}
.preguntaBox{
  font-size: 12px;
}

}

 @media(max-width: 350px){
.botonGly{
  width: 3px;
}
}
 @media(max-width: 320px){
  .botonGly{
    max-width: 30px;

  }
  .botonGlyG{
    min-width: 50px;
    max-width: 70px;
  }


}