<div class="col-xs-12 col-sm-offset-3 col-sm-6">	
 	<div class="col-xs-12">
   		<span class="input input--minoru">
   			<input class="input__field input__field--minoru" type="text" id="preg" name="quiz[pregunta]"
      placeholder=" <%= quiz.pregunta %> "
        />
 			<label class="input__label input__label--minoru" for="preg"></label>
			</span>
	</div>
        <div class="col-xs-12">
        <span class="input input--minoru">
            <input class="input__field input__field--minoru" type="text" id="preg" name="quiz[respuesta]" placeholder=" <%= quiz.respuesta %> "/>
            <label class="input__label input__label--minoru" for="resp"></label>
            </span>
    </div>
	<div class="col-xs-6 col-xs-offset-3">
        <div class="box bg-1">
					<button type="submit" class="button button--isi button--text-thick button--text-upper button--size-s botonGly botonGlyG"><span  class="textoGly"> Salvar </span> <span class="glyphicon glyphicon-ok-sign iconCrear"></span></button>
		</div>
	</div>
</div>
