<!DOCTYPE html>
<html>
  <head>
    <title>Hola></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>pagina answer</h1>

    	Pregunta: <%= respuesta %> <p>

    <a href="/quizes/question"> Intente de nuevo</a>



  </body>
</html>