<table>
<% var i; var n = quizes.length; for(i=0; i < quizes.length; i++){ %>
	<h1><%= n %></h1>
	<tr><td><a href="/quizes/<%= quizes[i].id %>"> <%= quizes[i].pregunta %> </a></td></tr>
<% } %>
</table>