    <form method="get" action="/quizes/answer">
    	<h1>Pregunta: <%= pregunta %></h1>
    	<div class="col-xs-12">
    		<span class="input input--minoru">
    			<input class="input__field input__field--minoru" type="text" name="respuesta" value="" placeholder="Respuesta" />
    			<label class="input__label input__label--minoru" for="input+13">
					</label>
			</span>
		</div>
    	<input type="submit" value="enviar">
    </form>
